.one {
    padding-top: 75px;
    height: 93.22304vh;
    background: rgb(7, 7, 7);
}

.leaderboard-container {
    width: 45%;
}

.leaderboard {
    margin-left: 25%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.grid-area {
    width: 40%;
    margin-left: 10%;
    display: grid;
    margin-top: 10%;
}

.grid-area Button {
    width: 150px;
    height: 50px;
    margin: 0 auto;
    color: white;
    background: rgb(78, 76, 168);
}
.grid-area p {
    text-align: center;
    color:rgb(255, 255, 255)
}

.two {
    height: 100vh;
    background: rgb(7, 7, 7);
}