.one {
    padding-top: 75px;
    height: 93.22304vh;
    background: rgb(7, 7, 7);
}

.leaderboard-container {
    width: 70%;
}

.leaderboard {
    margin-left: 25%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.grid-area {
    width: 40%;
    margin-left: 25%;
    display: grid;
    margin-top: 10%;
}

.grid-area Button {
    width: 150px;
    height: 50px;
    margin: 0 auto;
    color: white;
    background: rgb(78, 76, 168);
}
.grid-area p {
    text-align: center;
    color:rgb(255, 255, 255)
}

.two {
    height: 100vh;
    background: rgb(7, 7, 7);
}

.grid-two {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5% 0px;
}

.cards {
    height: 250px;
    width: 250px;
    margin: 15px;
}

.flex-two {
    display: flex;
    flex-direction: column;
}

.flex-two p {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}