.profile_container {
	height: 100vh;
	background-color: darkblue;

	.profile_content {
		background-color: rgb(0, 139, 19);
		text-align: center;
		margin: 2em;
		border: 1px dotted red;
		border-radius: 1em;
		-webkit-box-shadow: 0px 20px 40px -10px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0px 20px 40px -10px rgba(0, 0, 0, 0.75);
		box-shadow: 0px 20px 40px -10px rgba(0, 0, 0, 0.75);

		form {
			border: 1px dotted red;

			img {
				width: 10em;
				height: 10em;
				border-radius: 100px;
				background-color: #555555;
				-webkit-box-shadow: 0px 20px 40px -10px rgba(0, 0, 0, 0.75);
				-moz-box-shadow: 0px 20px 40px -10px rgba(0, 0, 0, 0.75);
				box-shadow: 0px 20px 40px -10px rgba(0, 0, 0, 0.75);
			}
		}
	}
}